# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored

*.rb linguist-language=Ruby
*.erb linguist-language=HTML+ERB
*.rake linguist-language=Ruby
Gemfile linguist-language=Ruby
Gemfile.lock linguist-language=Ruby
config.ru linguist-language=Ruby
