<div id="<%= dom_id recipe %>" class="information-box recipe">
  <div class="recipe-title">
    <h2><%= link_to "Recipe ##{recipe.id}", recipe %></h2> 
    <br />
    <%= button_to "Remove", recipe, method: :delete, class: "button-form" %>
  </div>
  <div>
    <h3 style="color: #fff;">
      Description of the recipe
    </h3> <br />
    <p style="font-size: 19px;">
      <%= recipe.description %>
    </p>
  </div>
</div>
