<p style="color: green"><%= notice %></p>
<section>
  <h1>Recipes</h1>
  
  <br>
  
  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <%= render recipe %>
    <% end %>
  </div>

  <br>

  <button type="button">
    <%= link_to "New recipe", new_recipe_path %>
  </button>
</section>
