/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #7d87a9;
  text-shadow: 10px 10px 14px rgba(0, 0, 0, 0.47);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.button-form input,
button {
  border: none;
  background-color: #90caca;
  color: #fff;
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5%;
}

form {
  display: flex;
  flex-direction: column;
  width: max-content;
  background-color: #7d87a9;
  color: #fff;
  margin-top: 3%;
  padding: 5%;
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
}

form input {
  margin: 2%;
  padding: 2%;
}

form textarea {
  width: 100%;
}

.information-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  width: 50vw;
  background-color: #7d87a9;
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  margin-bottom: 5%;
}

.information-box p {
  color:#fff;
}

.information-box p strong {
  color: #90caca;
}

h2,
.light-color-text a {
  color: #90caca;
}

.recipe {
  display: flex;
  flex-direction: row;
  column-gap: 15%;
}

.recipe-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20%;
}

.new-food-button {
  display: flex;
  flex-direction: column;
  align-self: end;
}

thead {
  color: #90caca;
  width: 100%;
}

td,
th {
  width: 200px;
}

tbody {
  color: #fff;
  text-align: center;
}

